.bem-vindo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-inicio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.app-nav {
    display: flex;
    justify-content: flex-end;
}

.app-nav a {
    margin-right: 10px;
}